#!/bin/bash
set -e

# Edit the following three values to your liking:

docker \
  run \
  --detach \
  --env MYSQL_ROOT_PASSWORD='<%= @root_password %>' \
  --env MYSQL_USER='<%= @db_user %>' \
  --env MYSQL_PASSWORD='<%= @db_password %>' \
  --env MYSQL_DATABASE='<%= @db_name %>' \
  --name '<%= @container_name %>' \
  --publish <%= @container_mysql_port %>:<%= @host_mysql_port %> \
  mysql:<%= @mysql_version %>;
